/* Custom SafeBrgy Admin styles */

* {
  font-family: Arial;
}

body {
  font-family: Arial;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial;
  font-size: 16px;
}

.bg-primary {
  background: linear-gradient(135deg, #0b63d6, #083d96);
}

form .btn-primary {
  background-color: #0b63d6;
  border: none;
  font-size: 12px;
  font-family: Arial;
}

form .btn-primary:hover {
  background-color: #083d96;
}
